﻿@model Aplicacion_Clinica.Models.Persona

@{
    ViewBag.Title = "Persona";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Persona</h2>
<div>
    <form>
        <section>
            <table>
                <tr>
                    <td>
                        @Html.LabelFor(mp => mp.id)
                    </td>
                    <td>
                        @Html.TextBoxFor(mp => mp.id)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(mp => mp.nombre)
                    </td>
                    <td>
                        @Html.TextBoxFor(mp => mp.nombre)
                    </td>
                    <td>
                        @Html.LabelFor(mp => mp.apellido)
                    </td>
                    <td>
                        @Html.TextBoxFor(mp => mp.apellido)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="btnSave" type="submit" value="Guardar" />
                    </td>
                </tr>
            </table>
        </section>
    </form>
</div>



